@{
    ViewBag.Title = "About";
}

<h2 class="text-info text-center"> AN END TO POVERTY</h2>

<p class="text-info">

    Siyabonga Africa is a registered South African Non Profit Organisation (000-394-NPO) and Public Beneficiary Organisation (PBO 930010666), committed to eradicating poverty and bringing about positive change for the people of our country. We are also a certified B-BBEE enterprise.

    Although we provide food, blankets, clothing and basic necessities to those who are destitute, our ultimate aim is to create environments and opportunities that enable people to find their way out of poverty. Over the past 30 years, we have developed a variety of programmes to uplift a diversity of people – from the most vulnerable to those who have the potential but lack the opportunity to become self supporting.

    Poor and vulnerable people are not objects of our charity – but partners in our endeavours to find effective solutions that will lead to a better life for all. We guide people to understand that the best answers lie within themselves, and work with those who want to be agents of change for themselves, their families and future generations.

</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ior21HEDm9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="text-info">
    We all hold the power to contribute in some way or another to the societies in which we live, and to become part of the solution.Be part of the Siyabonga Africa solution by making a donation now towards the cost of running these vital programmes.
    Reach out and join us in giving those in need a hand up – not just a hand-out.
</p>
